import /srv/caddy/snippets/*.caddy

app.eventicro.hr {
    import security_headers_csp_app
    reverse_proxy /api/* http://127.0.0.1:3000
    reverse_proxy /*      http://127.0.0.1:3000
}

api.eventicro.hr {
    import security_headers_api
    import cors_strict
    reverse_proxy /* http://127.0.0.1:3000
}
